
<h1 style="text-align: center;">Angular Routing</h1>

<!-- 
<button type="submit"  routerLink='Page2'>Go to page 2</button>
<div style="padding:50px;margin:20px">
<button type="button" class="btn btn-primary btn-block"  routerLink='Page2'>Page 2</button>
<button type="button" class="btn btn-primary btn-block"  routerLink='Page1'>Page 1</button>
</div> -->
<!-- 
<student></student> -->
<!-- <post-data></post-data> -->

<div style='padding:50px'>
  <!-- <test></test> -->
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink='Student'>Student</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink='Staff'>Staff</button>
  <button type="button" class="btn btn-primary btn-lg btn-block" routerLink='todolist'>Todo List</button>
  <button type='button' class='btn btn-secondary btn-lg btn-block' routerLink='forms'>Registration Forms</button> 
  <button type='button' class='btn btn-primary btn-lg btn-block' routerLink='HTTPmethods'>HTTP methods</button>
  <button type='button' class='btn btn-primary btn-lg btn-block' routerLink='micro'>HTTP methods-Microservice</button>
  <button type='button' class='btn btn-primary btn-lg btn-block' routerLink='login2sys'>Login</button>
</div>
 <router-outlet></router-outlet> 




