<table class="table">
    <thead class="thead-dark">
      <!-- <tr>
        <th scope="col">No</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr> -->
      <th *ngFor = "let column of header">
        {{column}}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let i of obj1">
          <td *ngFor="let j of header">
              {{i[j]}}

          </td>
 
        
      </tr>
    </tbody>
  </table>
  
 