<div class='container'>
    <form [formGroup]='signupForm'>
        <!-- Username -->
        <div class='form-group'>
            <label for='Firstname'>First Name</label>
            <input type='text' class='form-control' formControlName='fname' id='FirstName'   >
            <span *ngIf="signupForm.controls['fname'].hasError('required')">First Name is required</span>
            <span *ngIf="signupForm.controls['fname'].hasError('minlength')">Length must be greater than or equal to 2</span>
        </div>
        
          <!-- Password -->
        <div class='form-group'>
            <label for='Password'>Password</label>
            <input type='password' class='form-control' formControlName='password' id='password'   >
            <span *ngIf="signupForm.controls['password'].hasError('required')">Password is required</span>
            <span *ngIf="signupForm.controls['password'].hasError('minlength')">Length must be greater than or equal to 8</span>
        </div>
      
          <!-- Email -->
        <div class='form-group'>
            <label for='email'>Email</label>
            <input type='email' class='form-control' formControlName='email' id='email'  >
            <span *ngIf="signupForm.controls['email'].hasError('required')">email is  required</span>
            <span *ngIf="signupForm.controls['email'].hasError('email')">Enter a valid e-mail</span>
        </div>
      
           <!-- File -->
           <!-- <div class='form-group'>
            <label for='pic'>Photo</label>
            <input type='file' class='form-control' formControlName='pic' id='pic' [(ngModel)]='pic' >
            <span *ngIf="signupForm.controls['pic'].hasError('required')">photo is  required</span>
           
        </div>
      -->
      <p>{{fname}},{{email}},{{password}}</p>

        <button type='submit' [disabled]="!signupForm.valid" (click)='postData()' routerLink='/success'>Submit</button>
        </form>
</div>
<router-outlet></router-outlet>
